@model StaffManagement_.Net_5.ViewModels.HomeIndex1ViewModel

@{
    ViewBag.Title = "Staff List";
}

<div class="card-deck">
    @foreach (var staff in Model.Staffs)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@staff.FirtName @staff.LastName</h3>
            </div>
            <img class="card-img-top" src="~/imegs/5.jpg" />
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>















@*<table border="1" bgcolor="blue">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>FirtName</th>
                <th>Email</th>
                <th>Deparment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staff in Model.Staffs)
            {
                <tr>
                    <td>@staff.id</td>
                    <td>@staff.FirtName</td>
                    <td>@staff.LastName</td>
                    <td>@staff.Email</td>
                    <td>@staff.Department</td>
                </tr>
            }
        </tbody>
    </table>*@
